.end-bar-sec {
  padding: 40px 0;
}

.end-bar-cont {
  display: flex;
  justify-content: center;
}

.end-bar {
  width: 160px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;

  margin: auto;
}

.end-bar-black {
  width: 70%;
  height: 4px;
  border-radius: 2px;
  background-color: #313131;
}

.vision-bar {
  justify-content: start;

  .end-bar-black {
    background-color: #fa7a18;
  }
}

.vertical-bar {
  width: 4px;
  height: 35%;
  border-radius: 2px;
  background-color: #ffffff;
  margin: 40px;

  @media screen and (max-width: 1200px) {
    width: 35%;
    height: 4px;
    border-radius: 2px;
    background-color: #ffffff;
    margin: 20px 0;
  }
}
