.work--title-projects {
  h1 {
    font-size: 4rem;
    font-weight: 500;
    color: #404040;

    margin-bottom: 100px;

    text-align: right;
  }
}

.projects-container {
  display: flex;
  flex-direction: column;

  .single-projects {
    width: 100%;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    margin: 50px 0;

    .proj-img-cont {
      max-width: 50%;

      img {
        width: 100%;
        object-fit: contain;
      }
    }

    .projects-explain-cont {
      margin-left: 20px;

      text-align: left;

      h2 {
        font-size: 2rem;
        font-weight: 500;
        color: #404040;

        line-height: 150%;
        margin: unset;
      }

      p {
        font-size: 1.2rem;
        font-weight: 500;
        color: #666;

        line-height: 150%;
      }

      a {
        padding: 10px 40px;
        font-size: 1.2rem;
        font-weight: 600;

        background-color: #fa7a18;
        color: #ffffff;
      }
    }
  }
}
